<server description="Liberty server">
    <featureManager>
        <feature>webProfile-8.0</feature>
        <feature>jsf-2.3</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>
    <variable name="app.context.root" defaultValue="temperature-converter"/>

    <!-- tag::httpEndpoint[] -->
    <httpEndpoint httpPort="${default.http.port}" 
    httpsPort="${default.https.port}" id="defaultHttpEndpoint"  host="*" />
    <!-- end::httpEndpoint[] -->
    <webApplication id="temperature-converter" location="temperature-converter.war" contextRoot="${app.context.root}" />
</server>
